<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
  </head>
  <body class="is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-header">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <div class="fear-banner">What is Extremism in Politics?</div>
          <p>
            Extremism is sometimes hard to see and is often masked in language that makes it seem like the obvious solution. A lack of majority support does not make a position extremist, but if it meets any of these criteria, it often is:
          </p>
            <h3>This is How We Define it</h3>
          <p>
            <ul class="left">
              <li>Policy positions far outside public support, that are used to agitate a vocal minority</li>
              <li>Often born of small or infrequent events blown out of proportion </li>
              <li>Usually fear based</li>
              <li> Often demonizes an entire group and promotes zero sum governance (no win-win solutions)</li>
              <li>Can be destructive of established institutions or norms</li>
            </ul>
          </p>
        <div class="fear-banner">Recent Examples of Extremism Ads</div>
        <p>
          These advertisements are presented solely as examples of political messaging that illustrate characteristics of extremism discussed above. Their inclusion is not an endorsement of or opposition to any candidate or candidacy.
        </p>
        <div class="ads">
          <img src="/images/extreme-ads/stevens.png" alt="Pictures competitor holding garbage (Haley-Stevens)" />
          <img src="/images/extreme-ads/french.png" alt="Stop the Islamic Invasion of Texas (Bo French)" />
          <img src="/images/extreme-ads/middleton.png" alt="Stop Sharia Law in Texas (Mayes Middleton)" />
        </div>
      </div>
      </section>
      <!-- footer -->
      <section id="footer"></section>
    </div><!-- page-header -->
  </body>
</html>
