<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
  </head>
  <body class="is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-header">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <h3>News</h3>
          <p>
             C4RG is <b>proud to partner</b> with <a href="https://www.marchmatters.org/" target="_blank" rel="noopener noreferrer">MarchMatters.org</a> to bring you free tools to help you vote and even help you jump start your own <b>Advocacy Efforts</b>
          </p>
          <p>
            C4RG proudly recommends <a href="https://www.texasmatters.org" target="_blank" rel="noopener noreferrer">TexasMatters.org</a> for non-partisan Texas election updates and information
          </p>
          <h3>Partners</h3>
          <h4>
            March Matters
          </h4>
          <ul>
            <li>Voting Made Simple: 
              <a href="https://www.marchmatters.org/prepare-for-the-primaries" target="_blank" rel="noopener noreferrer">
                https://www.marchmatters.org/prepare-for-the-primaries
              </a>
            </li>
            <li>Turbocharge your Advocacy efforts: 
              <a href="https://www.marchmatters.org/#mm-hp-how" target="_blank" rel="noopener noreferrer">
                https://www.marchmatters.org/#mm-hp-how
              </a>
            </li>
          </ul>
          <h4>
            Texas Matters
          </h4>
          <ul>
            <li>
              Learn about the Texas election system: <a href="https://www.texasmatters.org" target="_blank" rel="noopener noreferrer">https://www.texasmatters.org</a>
            </li>
            <li>
              Easy to use, customized Candidate Guides: <a href="https://www.texasmatters.org/guide" target="_blank" rel="noopener noreferrer">https://www.texasmatters.org/guide</a>
            </li>
          </ul>
          <h3>Voter Resources</h3>
          <h4>State Voting Resources</h4>
          <ul>
            <li>Alabama: 
              <a href="https://myinfo.alabamavotes.gov/VoterView" target="_blank" rel="noopener noreferrer">
                https://myinfo.alabamavotes.gov/VoterView
              </a>
            </li>
            <li>Arizona: 
              <a href="https://azsos.gov/elections/voters/registering-vote" target="_blank" rel="noopener noreferrer">
                https://azsos.gov/elections/voters/registering-vote
              </a>
            </li>
            <li>Georgia: 
              <a href="https://georgia.gov/register-vote" target="_blank" rel="noopener noreferrer">
                https://georgia.gov/register-vote
              </a>
            </li>
            <li>Indiana: 
              <a href="https://www.in.gov/sos/elections/voter-information/register-to-vote/" target="_blank" rel="noopener noreferrer">
                https://www.in.gov/sos/elections/voter-information/register-to-vote
              </a>
            </li>
            <li>Ohio: 
              <a href="https://olvr.ohiosos.gov/" target="_blank" rel="noopener noreferrer">
                https://olvr.ohiosos.gov
              </a>
            </li>
            <li>Texas: 
              <a href="https://www.votetexas.gov/register-to-vote/" target="_blank" rel="noopener noreferrer">
                https://www.votetexas.gov/register-to-vote
              </a>
            </li>
          </ul>
          <h4>National Voting Resources</h4>
          <ul>
            <li><a href="https://vote.org" target="_blank" rel="noopener noreferrer">Vote.org</a></li>
            <li><a href="https://rockthevote.org" target="_blank" rel="noopener noreferrer">Rockthevote.org</a></li>
            <li><a href="https://buildersmovement.org/" target="_blank" rel="noopener noreferrer">buildersmovement.org</a></li>
            <li><a href="https://uniteamerica.org/" target="_blank" rel="noopener noreferrer">uniteamerica.org</a></li>
          </ul>
          <h3>Donate to Defeat Extremism</h3>
          <p>
            We use <b>your generous contributions</b> to fund our research and outreach efforts, and to support candidates who align with our mission of promoting rational governance. Your support helps us make a difference in the political landscape, as we work together towards a more informed and engaged electorate. The organization is run 100% by volunteers, so every dollar donated goes directly towards our mission of promoting rational governance and supporting representative candidates who align with our mission and priciples.
          </p>
          <p>
            <a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back">zeffy.com</a>
          </p>
        </div>
      </section>
      <section id="footer"></section>
    </div><!-- page-header -->
  </body>
</html>
